@import "../../public/assets/vendor/bootstrap-icons/bootstrap-icons.css";
@import "../../public/assets/vendor/font-awesome/css/all.min.css";
@import "../../public/assets/vendor/tiny-slider/tiny-slider.css";
@import "../../public/assets/vendor/glightbox/css/glightbox.css";
@import "../../public/assets/vendor/flatpickr/css/flatpickr.min.css";
@import "../../public/assets/vendor/choices/css/choices.min.css";
@import "../../public/assets/css/style.css";

.custom-invalid-feedback {
  color: red;
  font-size: 0.875rem; /* smaller than the default text size */
  margin-top: 0.25rem; /* space between the input and the error message */
  display: block;
}
